<div class="divButton">
    <button class="button"(click)="emitirEvento('1')">1</button>
    <button class="button" (click)="emitirEvento('2')">2</button>
    <button class="button" (click)="emitirEvento('3')">3</button>
    <button class="button" (click)="emitirEvento('+')">+</button>
    <button class="button" (click)="emitirEvento('4')">4</button>
    <button class="button" (click)="emitirEvento('5')">5</button>
    <button class="button" (click)="emitirEvento('6')">6</button>
    <button class="button" (click)="emitirEvento('-')">-</button>
    <button class="button" (click)="emitirEvento('7')">7</button>
    <button class="button" (click)="emitirEvento('8')">8</button>
    <button class="button" (click)="emitirEvento('9')">9</button>
    <button class="button" (click)="emitirEvento('/')">/</button>
    <button class="button" (click)="emitirEvento('c')">C</button>
    <button class="button" (click)="emitirEvento('0')">0</button>
    <button class="button" (click)="emitirEvento('=')">=</button>
    <button class="button" (click)="emitirEvento('*')">*</button>
</div>